.env
.DS_Store*
/.vscode
/dev
/trials
/test
scripts/dev/
steps.txt
*.tfvars
.venv
**/.terraform/*
**/__pycache__/*
*.log*
*_log.json

input.auto.tfvars
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
sample.json
test.json
*steps.txt
.DS_Store
.terraform/
scripts/config.yaml
