.env
*.DS_Store*
/.vscode
/dev
/trials
scripts/dev/
steps.txt

**/.terraform/*
**/__pycache__/*
*.log*
*_log.json


input.auto.tfvars
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
sample.json
test.json
*steps.txt
